/*******************************************
MODERN CSS RESET
******************************************/

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /********************************************
  ***END OF RESET****************************
  *******************************************/

:root {
  --color-primary:  hsl(300, 43%, 22%);
  --color-secondary:  hsl(333, 80%, 67%);
  --color-text:  hsl(303, 10%, 53%)
}

html {
    font-size: 62.5%; /* to make 1rem = 10px */
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5rem;
    color: var(--color-text);
    font-weight: 400;
    position: relative;


   
  }
  
  .social-proof {
    
    padding: 8rem 3rem;

    display: grid;
    gap: 4rem;
    
    /***/
    max-width: 111rem;
    padding: 2rem;
  }
  /* body::before {
    content: url('./images/bg-pattern-top-mobile.svg');
 
            
            position: absolute;
            top: 0%;
            left: 0%;
  }
  body::after {
    content: url('./images/bg-pattern-bottom-mobile.svg');
 
            
            position: absolute;
            bottom: 0%;
            right: 0%;
  } */

  .social-proof__header {
    display: grid;
    gap: 2rem;
  }
  .social-proof__heading, .social-proof__rating-text {
    
    font-weight: 700;
    
    color: var(--color-primary);
  }
  .social-proof__heading {
    font-size: 4.5rem;
    line-height: .8;
    letter-spacing: -2.5px;
    text-align: center;
  }
.social-proof__paragraph {
  text-align: center;
}
.social-proof__ratings {
  display: grid;
  
  gap: 2rem;
}
.social-proof__rating, .social-proof__testimonial {
  border-radius: 5px;
}
.social-proof__rating {
  background-color: hsl(300, 24%, 96%);
  padding: 1rem 3rem;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 1rem;
}
.social-proof__rating-stars {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-proof__rating-text {
  font-size: 1.8rem;
}
.social-proof__testimonials {
  display: grid;
  gap: 2rem;
}
.social-proof__testimonial {
  background-color: var(--color-primary);
  color: hsl(0, 0%, 100%);
  padding: 4rem;
  display: grid;
  gap: 3rem;

}
.social-proof__testimonial-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  column-gap: 2rem;
  

}

.social-proof__testimonial-img {
  width: 5rem;
  border-radius: 100%;
  grid-row: 1/-1;
}


.social-proof__testimonial-title {
  color: var(--color-secondary);

}
.social-proof__testimonial-quote {
  font-weight: 500;
}
  
@media (min-width: 64em) {
  body {
     /**/
     display: flex;
     justify-content: center;
     align-items: center;
  }
  body::before {
    content: url('./images/bg-pattern-top-desktop.svg');
 
            
            position: absolute;
            top: 0%;
            left: 0%;
  }
  body::after {
    content: url('./images/bg-pattern-bottom-desktop.svg');
 
            
            position: absolute;
            bottom: 0%;
            right: 0%;
  }
    .social-proof {
      grid-template-columns: repeat(2, 1fr);
      padding: 11rem 4rem;

      justify-items: start;
      max-width: 111rem;
    }
    

    .social-proof__heading {
      max-width: 35rem;
      text-align: left;
    }
    .social-proof__paragraph {
      max-width: 48rem;
      text-align: left;
    }

    .social-proof__rating--translateX10 {
      margin-left: 4.5rem;
    }
    .social-proof__rating--translateX20 {
      margin-left: 9rem;
    }

    .social-proof__testimonials {
      grid-template-columns: repeat(3, 1fr);

      grid-column: 1/-1;
      
    }

    .social-proof__rating {
      width: 45rem;
      flex-direction: row;
      justify-content: start;

      gap: 2rem;
    }

    .social-proof__testimonials--translate10 {
      transform: translateY(10%);
    }
    .social-proof__testimonials--translate20 {
      transform: translateY(20%);
    }
}